In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

'''
A database is a structured collection of data that is stored and organized in a way that allows for efficient retrieval, 
manipulation, and management of data. Databases are used in a wide variety of applications, including web applications,
mobile applications, business applications, and scientific research.

SQL and NoSQL databases are two types of databases that differ in their underlying architecture and data storage models.

SQL databases use a structured approach to data storage and retrieval. They store data in tables that are made up of rows 
and columns, with each row representing a record and each column representing a specific attribute or field of the record.
SQL databases are typically used for applications that require complex queries, transactions, and a high degree of data 
consistency and integrity. Examples of SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.

On the other hand, NoSQL databases use a non-relational approach to data storage and retrieval. They store data in a 
flexible and unstructured way, using documents, key-value pairs, or graphs. NoSQL databases are typically used for 
applications that require high scalability, performance, and availability, as well as the ability to handle large amounts of
unstructured data. Examples of NoSQL databases include MongoDB, Cassandra, Couchbase, and Redis.

In summary, the key differences between SQL and NoSQL databases are their data storage models, with SQL databases using a
structured approach and NoSQL databases using a non-relational approach. SQL databases are typically used for complex queries
and transactions, while NoSQL databases are typically used for scalability and performance.
'''
pass

In [2]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

'''
DDL, or Data Definition Language, is a subset of SQL used to define and manage the structure of databases and their objects,
such as tables, indexes, and views. DDL statements are used to create, modify, and delete database objects, and they do not 
directly manipulate the data stored within them.
'''
 
'''
The four most commonly used DDL statements are CREATE, DROP, ALTER, and TRUNCATE, which are explained below with examples:

1. CREATE: This statement is used to create a new database object, such as a table, view, index, or procedure. The syntax 
   for creating a new table is as follows:

---
CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50) NOT NULL,
  email VARCHAR(50) UNIQUE,
  created_at TIMESTAMP DEFAULT NOW()
);
---

In this example, a new table called "customers" is created, with four columns: "id", "name", "email", and "created_at". 
The "id" column is defined as the primary key, the "name" column is defined as a non-null string, the "email" column is 
defined as a unique string, and the "created_at" column is defined as a timestamp with a default value of the current date
and time.

2. DROP: This statement is used to delete an existing database object, such as a table, view, index, or procedure. The 
   syntax for dropping a table is as follows:

---
DROP TABLE customers;
---

In this example, the "customers" table is deleted from the database.

3. ALTER: This statement is used to modify the structure of an existing database object, such as adding, modifying, or
   deleting columns from a table. The syntax for adding a new column to a table is as follows:

---
ALTER TABLE customers
ADD COLUMN phone_number VARCHAR(20);
---

In this example, a new column called "phone_number" is added to the "customers" table, with a maximum length of 20 characters.

4. TRUNCATE: This statement is used to delete all the data from a table, but not the table itself. The syntax for truncating
   a table is as follows:

---
TRUNCATE TABLE customers;
---

In this example, all the data from the "customers" table is deleted, but the table structure is left intact.

In summary, DDL statements are used to define and manage the structure of databases and their objects, and the most commonly
used DDL statements are CREATE, DROP, ALTER, and TRUNCATE, which are used to create, delete, modify, and empty database objects.
'''
pass

In [3]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

'''
DML, or Data Manipulation Language, is a subset of SQL used to manipulate the data stored within a database. DML statements
are used to insert, update, and delete data from database tables.

The three most commonly used DML statements are INSERT, UPDATE, and DELETE, which are explained below with examples:

1. INSERT: This statement is used to add new data to a database table. The syntax for inserting a new row into a table is as
   follows:

---
INSERT INTO customers (id, name, email)
VALUES (1, 'deva pardhi', 'devpardhi@example.com');
---

In this example, a new row is added to the "customers" table, with values for the "id", "name", and "email" columns. The
values are specified in the "VALUES" clause, and they must be in the same order as the columns in the table.

2. UPDATE: This statement is used to modify existing data in a database table. The syntax for updating a row in a table is
   as follows:

---
UPDATE customers
SET name = 'deva pardhi', email = 'devapardhi@example.com'
WHERE id = 1;
---

In this example, the "name" and "email" values for the row with an "id" of 1 are updated to "deva pardhi" and "devapardhi@example.com",
respectively. The "WHERE" clause is used to specify which row(s) should be updated based on a condition.

3. DELETE: This statement is used to remove data from adatabase table. The syntax for deleting a row or rows from a table
   is as follows:

---
DELETE FROM customers
WHERE id = 1;
---

In this example, the row with an "id" of 1 is deleted from the "customers" table. The "WHERE" clause is used to specify
which row(s) should be deleted based on a condition.

In summary, DML statements are used to manipulate the data stored within a database, and the most commonly used DML 
statements are INSERT, UPDATE, and DELETE, which are used to insert new data, update existing data, and delete data from 
database tables, respectively.
'''
pass

In [5]:
#Q4. What is DQL? Explain SELECT with an example.

'''
DQL, or Data Query Language, is a subset of SQL used to retrieve and query data from a database. DQL statements are used to 
select and filter data from database tables based on specified criteria.

The most commonly used DQL statement is SELECT, which is used to retrieve data from one or more tables in a database. 
The syntax for selecting data from a table is as follows:

---
SELECT column1, column2, ...
FROM table_name
WHERE condition;
---

In this example, the "SELECT" statement is used to retrieve data from the "table_name" table, and the "column1", "column2",
etc. represent the names of the columns that should be returned. The "WHERE" clause is used to specify the conditions that 
the retrieved rows must satisfy.

For instance, consider the following example that selects data from a hypothetical "employees" table:

---
SELECT id, first_name, last_name, salary
FROM employees
WHERE department = 'Marketing';
---

In this example, the "SELECT" statement is used to retrieve the "id", "first_name", "last_name", and "salary" columns from
the "employees" table for employees who work in the "Marketing" department. The "WHERE" clause is used to filter the results
to only include rows where the "department" column equals "Marketing".

In summary, DQL statements are used to retrieve and query data from a database, and the most commonly used DQL statement is
SELECT, which is used to select and filter data from one or more tables based on specified criteria.
'''
pass

In [6]:
#Q5. Explain Primary Key and Foreign Key.

'''
Primary Key and Foreign Key are two important concepts in relational database design that establish relationships between 
tables. 

A Primary Key is a column or set of columns in a table that uniquely identifies each row in that table. Primary Keys ensure
that there are no duplicate rows in the table, and they are used as a reference by other tables when establishing relationships. 

For example, consider a hypothetical "customers" table that includes the following columns: "customer_id", "first_name", 
"last_name", and "email". In this table, the "customer_id" column could be set as the Primary Key since it uniquely identifies 
each customer in the table.

A Foreign Key, on the other hand, is a column or set of columns in one table that references the Primary Key of another table.
This establishes a relationship between the two tables, allowing data to be accessed and manipulated across tables.

For example, consider a hypothetical "orders" table that includes the following columns: "order_id", "order_date", 
"customer_id", and "total". In this table, the "customer_id" column would be set as a Foreign Key since it references the 
Primary Key of the "customers" table. This allows data to be retrieved from both tables in a single query, enabling analysis 
and reporting across the related tables.

In summary, Primary Keys and Foreign Keys are essential concepts in relational database design. Primary Keys ensure that 
each row in a table is unique, while Foreign Keys establish relationships between tables, allowing data to be accessed and 
manipulated across tables.
'''
pass

In [8]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


'''
import mysql.connector

# establish connection
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create cursor object
mycursor = mydb.cursor()

# execute a query
mycursor.execute("SELECT * FROM yourtable")

# fetch results
results = mycursor.fetchall()

# print results
for row in results:
  print(row)


In this example, we first import the `mysql.connector` module, which is used to connect to and interact with MySQL databases. 
We then establish a connection to our MySQL database by specifying the host, user, password, and database name.

Next, we create a cursor object using the `cursor()` method. The cursor object is used to execute SQL queries and fetch 
results.

We then execute a SELECT query using the `execute()` method, which takes a SQL query as an argument. The query selects all 
rows and columns from a table called "yourtable".

Finally, we fetch the results using the `fetchall()` method, which returns a list of tuples containing the rows returned by
the query. We then print out the results using a `for` loop.

In summary, the `cursor()` method is used to create a cursor object, which is used to execute SQL queries and fetch results. 
The `execute()` method is used to execute a SQL query, while the `fetchall()` method is used to fetch the results of a query.
'''
pass

In [9]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

'''
The order of execution of SQL clauses in an SQL query is as follows:

1. FROM - The FROM clause is executed first, and it specifies the table or tables from which to retrieve data.

2. WHERE - The WHERE clause is executed next, and it filters the rows returned by the FROM clause based on the specified
   conditions.

3. GROUP BY - The GROUP BY clause is executed next, and it groups the rows returned by the WHERE clause based on one or more
   columns.

4. HAVING - The HAVING clause is executed next, and it filters the groups returned by the GROUP BY clause based on the 
   specified conditions.

5. SELECT - The SELECT clause is executed next, and it selects the columns to be returned in the final result set.

6. DISTINCT - The DISTINCT keyword is executed next, and it removes duplicate rows from the result set, if specified.

7. ORDER BY - The ORDER BY clause is executed next, and it sorts the rows returned by the SELECT clause based on one or more
   columns.

8. LIMIT/OFFSET - The LIMIT/OFFSET clause is executed last, and it limits the number of rows returned by the query or 
   specifies an offset from which to start retrieving rows.
'''
pass